import React from 'react';
import PropTypes from 'prop-types';

const {{pascalCase name}} = props => {
  return (
    <div>
    </div>
  );
};

{{pascalCase name}}.defaultProps = {

};

{{pascalCase name}}.propTypes = {

};