import React from 'react';
import PropTypes from 'prop-types';
import withStyles from '@mui/styles/withStyles';
import styles from './styles';

const {{pascalCase name}} = props => {
  return (
    <div>
    </div>
  );
};

{{pascalCase name}}.defaultProps = {

};

{{pascalCase name}}.propTypes = {

};

export default withStyles(styles)({{pascalCase name}});
